* {
  padding: 0em;
  margin: 0em;
  font-family: Bernard MT Condensed;
}

header h1 {
  text-align: center;
  font-size: 5em;
  background-color: black;
  color: white;
}

header h2 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 3em;
}

header img {
  width: 100%;
  height: 20em;
}

main {
  font-size: 1em;
}

main header {
  background-color: gray;
}

.links {
  background-color: gold;
}

.links a {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 35em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-decoration: none;
  color: black;
}

.ht {
  margin-left: 1em;
  font-size: 1.3em;
  padding: 0.8em;
  padding-bottom: 1em;
}

article h1 {
  background-color: brown;
  font-size: 1.2em;
  width: 50em;
  position: relative;
  left: 0em;
  padding: 0.7em;
  margin-bottom: 1em;
  color: white;
}

article {
  border-style: solid;
  border-color: white;
  border-left-color: brown;
  border-width: thick;
  position: relative;
  left: 1.5em;
  width: 93em;
  top: 1em;
}

article section {
  position: relative;
  left: 1em;
  width: 50em;
  padding: 1em;
  border-style: solid;
  border-color: white;
  border-left-color: gold;
  border-top-color: gold;
  margin: 1em;
}

section:nth-child(1) {
  padding-top: 2em;
  border-bottom-color: #FBFFE2;
}

section ol {
  margin-left: 2em;
}

section ul {
  margin-left: 1em;
}

section li {
  padding: 0.5em;
  color: black;
}

section:nth-of-type(1) {

}

section:nth-of-type(2) {
  border-left-color: lightgreen;
  border-top-color: lightgreen;
}

section:nth-of-type(3) {
  border-left-color: lightgray;
  border-top-color: lightgray;
}

section:nth-of-type(4) {
  border-left-color: purple;
  border-top-color: purple;
}

section:nth-of-type(5) {
  border-left-color: red;
  border-top-color: red;
}

section:nth-of-type(6) {
  border-left-color: orange;
  border-top-color: orange;
}
